.profile__name {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-column: 1;
    grid-row: 1;
    margin: 22px 0 0;
}

@media screen and (max-width: 980px) {
    .profile__name {
        margin: 0;
        font-size: 27px;
        line-height: 33px;
        grid-column: 1;
        grid-row: 1;
    }
} 