.popup__item {
    width: calc(100% - (35px*2));
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 13px;
    margin: 30px auto 0;
    color: black;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}